body{
background-color:rgb(254,252,184);
margin:0px;
font-size:20px;
}

#header{
	background-color:white;
	clear:right;
	position:default;
}
#header h1{
	margin:0px;
	padding:10px;
	color:green;
	position:default;
	text-align:center;
}
.main{
	background-color:#e5e4d1;
	margin-left:10px;
	margin-right:450px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:5px;
	padding:20px;
	font-size:110%;

}
	
	
.sideright{
	background-color:#e5e4d7;
	margin-left:10px;
	margin-right:10px;
	margin-top:150px;
	margin-bottom:10px;
	border-radius:5px;
	padding:20px;
	font-size:105%;
	width:380px;
	float:right;
}

table, th, td {
  border: 1px solid black;
}



#topbtn li{
display:inline;
border-radius:3px;
box-sizing:border-box;
text-align:center;
background-color:white;


}
#tbox{
	border:0px solid black;
}

	


.aa{
	background-color:#e5e4d1;
}

.x1:hover{
color:black;
backgrond-color:red;
}
.x1:active{
color:black;
backgrond-color:grb(91,0,183);
}

	
